#welcome-message {
  text-align: center;
  color:purple;
  font-size: 100px;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0.5%;
}

body{
  background-color:lavenderblush;
}

.land-page{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-image: url(../icons/purple\ background2.jpg);
}


h2 {
  text-align: center;
  color:purple;
  font-size: 30px;
  font-family: 'Merriweather Sans', sans-serif;
}

h3 {
  text-align: center;
  color:#9a6fc3;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 7% 0% -1% 0%;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
  color:black;
  font-size: 18px;
  margin: 5% 20% 0% 20%;
  text-align:center;

}
.link-to-pages {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color:black;
}

.home-icon{
  margin: 5% 50% 5% 50%;
}

.image-position{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* responsive web design, mobile */

@media screen and (min-width: 320px){
  #welcome-message, h2 {
    font-size: 30px;
  }
.link-to-pages {
  font-size: 15px;
}
.home-icon { 
  display: flex;
  justify-content: center;
}
}

/* responsive web design, ipad */

@media screen and (min-width: 768px){
  #welcome-message, h2 {
    font-size: 40px;
  }
.link-to-pages {
  font-size: 20px;
}
.home-icon { 
  display: flex;
  justify-content: center;
}
}

/* responsive web design, laptop */

@media screen and (min-width: 1200px){
  #welcome-message, h2 {
    font-size: 100px;
  }
.link-to-pages {
  font-size: 30px;
}
.home-icon { 
  display: flex;
  justify-content: center;
}
}